@using SiteDownChecker.Web.DB
@model SiteDownChecker.Web.DB.User
@{
    <link rel="stylesheet" href="~/css/profile.css">
    <div class="Desktop">
        <div class='Body'>
            <div class="userInfoAndAvatar">
                <img src="@Model!.AvatarURL" alt="userAvatar" class='userAvatar'>
                <div class='userInfo'>
                    <span>Name: @Model.Name</span>
                    <span>Mail: @Model.Login</span>
                    <span>ID: @Model.Id</span>
                </div>
            </div>
            @if (Context.Items["User"] is User user && Model.Id == user.Id)
            {
                <button class="editProfile" type="submit" onclick="goToEdit()">Edit profile</button>
                <script>
                    function goToEdit() {
                        document.location = "https://localhost:5001/Profile/Edit";
                    }
                </script>
            }
            
         </div>
    </div>
}
