@model SiteDownChecker.Web.DB.User
@{
    <link rel="stylesheet" href="~/css/profile.css">
    <div class="Desktop">
        <div class='Body'>
            <div class="userInfoAndAvatar">
                <img src="@Model!.AvatarURL" alt="userAvatar" class='userAvatar'>
                <div class='userInfo'>
                    <span>Name: @Model.Name</span>
                    <span>Mail: @Model.Login</span>
                    <span>Other: @Model.Id</span>
                </div>
            </div>
            <div class="lastVisited">
                load last visited
            </div>  
        </div>
    </div>
}
