@page
@model SiteDownChecker.Web.Pages.ProfileModel
@{
    <link rel="stylesheet" href="~/css/profile.css">
    <div class="Desktop">
        <div class='Body'>
            <div class="userInfoAndAvatar">
                <img src="load" alt="userAvatar" class='userAvatar'>
                <div class='userInfo'>
                    <span>Name: </span>
                    <span>Mail: </span>
                    <span>Other: </span>
                </div>
            </div>
            <div class="lastVisited">
                load last visited
            </div>  
        </div>
    </div>
}
