@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="Desktop">
    <div class='Body'>
        <span class='MostVisitedSitesSpan'>Most visited sites</span>
        <div class='BlocksContainer'>
            <div class='SiteBlock'>
                <img src="get from database" alt="siteLogo" class='checkSiteLogo'>
                <div class='additionalInfo'>Additional Info</div>
            </div>
            <div class='SiteBlock'>
                <img src="get from database" alt="siteLogo" class='checkSiteLogo'>
                <div class='additionalInfo'>Additional Info</div>
            </div>
            <div class='SiteBlock'>
                <img src="get from database" alt="siteLogo" class='checkSiteLogo'>
                <div class='additionalInfo'>Additional Info</div>
            </div>
            <div class='SiteBlock'>
                <img src="get from database" alt="siteLogo" class='checkSiteLogo'>
                <div class='additionalInfo'>Additional Info</div>
            </div>
            <div class='SiteBlock'>
                <img src="get from database" alt="siteLogo" class='checkSiteLogo'>
                <div class='additionalInfo'>Additional Info</div>
            </div>
        </div>
    </div>
</div>