@page
@model SiteDownChecker.Web.Pages.RegistrationModel
@{
    <link rel="stylesheet" href="~/css/auth.css">
    <form class="authForm" action="https://localhost:5001/Entering/Registration" method="post" enctype="application/x-www-form-urlencoded">
            <input class="authInput" type="text" placeholder="login" name="login">
            <input class="authInput" type="password" placeholder="password" name="password">
            <input class="authInput" type="password" placeholder="password repeat" name="password">
            <a class="regLink" asp-area="" asp-page="/Authentication">Already have profile? Log In</a>
            <input class="authButton" type="submit" text="Submit">
    </form>
}
