@model IQueryable<SiteDownChecker.Web.DB.Site>

<link rel="stylesheet" href="~/css/auth.css">
<div class="Desktop">
    <div class="Body">
        <form id="AddSite" class="authForm">
                <input class="authInput" type="text" placeholder="URL" name="URL">
                <input class="authInput" type="text" placeholder="Logo" name="Logo">
                <input class="authButton" type="submit" text="Submit">
        </form>
    </div>
</div>