.Body18117 {
    margin: 0 0 6px 0;
    display: flex;
    flex-grow: 0;
    background: transparent;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    justify-content: center;
  }
  .Contacts18147 {
    margin: 0 62px 0 0;
    display: flex;
    flex-grow: 0;
    background: transparent;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .UserBlockContainer18184 {
    display: flex;
    padding: 28px 25px;
    flex-grow: 0;
    background: rgba(196, 196, 196, 1);
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
  }
  .UserBlock18152 {
    display: flex;
    flex-grow: 0;
    background: transparent;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .image1 {
    width: 45px;
    height: 45.060482025146484px;
    flex-grow: 0;
    background: transparent;
    object-fit: cover;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 30px;
  }
  .text03 {
    color: white;
    width: auto;
    height: auto;
    margin: 0;
    flex-grow: 0;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .rectangle1 {
    width: 280px;
    height: 72.09677124023438px;
    flex-grow: 0;
    background: rgba(129, 58, 58, 1);
    border-color: transparent;
  }
  .rectangle2 {
    width: 330px;
    height: 865px;
    flex-grow: 0;
    background: rgba(196, 196, 196, 1);
    border-color: transparent;
  }
  .Chat18148 {
    display: flex;
    flex-grow: 0;
    background: transparent;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .Group518225 {
    display: flex;
    flex-grow: 0;
    background: transparent;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .text04 {
    color: black;
    width: auto;
    height: auto;
    margin: 0;
    flex-grow: 0;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
  }
  .rectangle3 {
    width: 595px;
    height: 751.1548461914062px;
    flex-grow: 0;
    background: rgba(255, 255, 255, 1);
    border-color: transparent;
  }
  .Group418159 {
    display: flex;
    flex-grow: 0;
    background: transparent;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .text19 {
    color: black;
    width: auto;
    height: auto;
    margin: 0;
    flex-grow: 0;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
  }
  .rectangle4 {
    width: 595px;
    height: 42.41290283203125px;
    flex-grow: 0;
    background: rgba(255, 255, 255, 1);
    border-color: transparent;
  }
  .rectangle5 {
    width: 637px;
    height: 865px;
    flex-grow: 0;
    background: rgba(244, 244, 244, 1);
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
  }